html,
body {
  font-family: 'Century Schoolbook', 'Century Schoolbook L', Georgia, serif;
  background-color: #f5efcf;
  text-rendering: optimizeLegibility;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.scroller-container {
  scroll-snap-type: y mandatory;
}

.topper {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.topper p {
  max-width: 800px; /* Limit text width for readability */
  margin: 0.5rem 0;
  font-size: 20px;
}

.header {
  margin-top: 50px;
}

a {
  color: #212529;
  text-decoration: underline;
}

.year_2004 {
  border-bottom: 3px solid #666666;
}

.year_2019 {
  border-bottom: 3px solid #b5604d;
}

.title {
  text-align: center !important;
  justify-content: center;
  position: relative;
  margin-bottom: auto;
  color: #333333;
  font-size: 40px;
  font-weight: bold;
}

.subtitle {
  text-align: center !important;
  justify-content: center;
  position: relative;
  margin-bottom: auto;
  color: #333333;
  font-size: 20px;
  font-style: italic;
}

.caption {
  font-size: 11px;
}

.hidden {
  visibility: hidden;
}

.first-letter {
  font-size: 55px;
  line-height: 55px;
  float: left;
}

.scroll-down {
  position: fixed;
  bottom: 230px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.arrow {
  font-size: 16px;
  color: #333;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* When it's less than 500 pixels wide */

@media only screen and (max-width: 500px) and (min-width: 300px) {
  .title {
    text-align: center !important;
    justify-content: center;
    position: relative;
    margin-bottom: auto;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
  }

  .subtitle {
    font-size: 16px;
  }

  .scroll-down {
    bottom: 100px;
  }
}
